<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Acompanhamento Configurações</title>
<script src="jquery-3.3.1.min.js"></script>
<script>
  function acao(){
    $(document).ready(function(){

    });
  }
</script>


        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <header>
            
    <!--Cabeçalho-->
  <table>
    <tr>
      <td id="titulo">CheckList</td>
    </tr>
    <tr>
      <td>Área</td>
      <td>Código</td>
      <td>Nome do procedimento</td>
    </tr>
    <tr>
      <td>Versão atual</td>
      <td>Versão anterior</td>
      <td>Vigência: 

        01/11/2020 </td>
      <td>Responsável: 

        OPERAÇÃO PISO BRANCO </td>
        <td>Página 

< # > de < # > </td>
    </tr>
  </table>      
  <!---->   
<table border="1" style="border-collapse: collapse;">
    <tr>
        <td class="Solicitado" id="Solicitado">SCTASK:  Solicitado por:
            Área:                            
            
            (  ) Inicial ( ) Continuação </td>
        <td class="analista" id="analista">ANALISTA:   

            ID:
            </td>
      </tr>

      <tr>
        <td>AMBIENTE:</td>
        <td>SITE:</td>
      </tr>
      </table>
      
      <table border="1" style="border-collapse: collapse;">
      <tr>
        <td class="Etapa-realizada"  colspan="2">Etapa realizada?</td>
        
        <td  colspan="2">Acompanhamento Configurações</t>
          
      </tr>
      <h2 style="text-align: center;">
      <tr>
        <td>Sim</td> <td>Não</td>
        <td colspan="2">Data e hora do início da tarefa: 
          _____/_____/_____ as _____:_____</td>
      </tr>
      <article class="numeracao" id="numeracao">
      <tr >
        <td ></td>
        <td></td>
		<td width="10">1.</td> 
        <td class="descricao" id="descricao">Técnico(s) chega(m) e fornece(m) número da SCTASK / RITM. </td>
      </tr>
      
      <tr>
        <td></td><!--Sim-->
        <td></td><!--Não--> 
        <td>2.</td> 
		<td class="descricao" id="descricao">Pegar o checklist físico da SCTASK na pasta física “A EXECUTAR”. 
			Caso não esteja impressa, imprimir template localizado no Sharepoint> Pasta Templates Operacionais> 
			1.x.x.x Checklist_-SCTASK_Atividade Site Suporte.pdf </td>
		      </tr>
      
      <tr>
        <td></td>
        <td></td>
        <td> <span class="comentario">3.</span></td> 
		<td class="descricao" id="descricao">
		Busca no Vivo Now o número da SCTASK / RITM. 
</td>
		
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>4.</td> 
		<td class="descricao" id="descricao">Verificar o template da SCTASK: -Troubleshooting ( )
			 ou – Console/instalação de S.O.  ( ) </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>5.</td> 
		<td class="descricao" id="descricao">Alterar Status da SCTASK para Em Andamento, caso não esteja. </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>6.</td> 
		<td class="descricao" id="descricao">Valida se a nota do chamado contém as informações abaixo.
			 Caso não tenha as informações nas notas, solicitar inclusão pelo solicitante:Qtd equipamentos (  )
		Tipo do equipamento: 

		Serial:  

		Localização:  Fila (            )  Rack (           ) 

		Tipo do equipamento: 

		Serial:  

		Localização:  Fila (            )  Rack (           ) 

		Em caso de mais equipamentos, colocar os dados no verso da folha. 

		Equipamento é:       Produtivo (          )       Não produtivo (          )  


	 </td>
      </tr>
           
      <tr>
        <td></td>
        <td></td>
        <td>7.</td> 
		<td class="descricao" id="descricao">Confirmar com o técnico o que será realizado na atividade. </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>8.</td> 
		<td class="descricao" id="descricao">Verifica se o técnico possui GAUS ativa para entrada no ambiente. </td>
      </tr>
      
      <tr>
        <td></td>
        <td></td>
        <td>9.</td> 
		<td class="descricao" id="descricao">Preencher a nota do chamado com as informações do(s) técnico(s):  

		Nome:  

		Empresa: 

		Telefone: 	 

		Em caso de mais técnicos, colocar os dados no verso da folha. </td>
      </tr>
      
      <tr>
        <td></td>
        <td></td>
        <td>10.</td> 
		<td class="descricao" id="descricao">Pegar Chaves na caixa de chaves, na pasta Controle de Chaves 
	CONTROLE DE CLAVICULÁRIO, consultar mapa de chaves e preencher as informações do técnico ou operador </td>
      </tr>
      
      <tr>
        <td></td>
        <td></td>
        <td>11.</td> 
		<td class="descricao" id="descricao">
		Pegar a(s) chave(s) fisicamente ( )  referente a posição do rack solicitada.
		 Caso seja identificada divergência nas informações do mapa de chaves com a posição física,
		  informar ao ponto focal.
</td>
      </tr>
	  
	  <tr>
	          <td></td>
	          <td></td>
	          <td> .</td> 
	  		<td class="descricao" id="descricao">Orientar o técnico o que a SCTASK contempla:  
- Esta SCTASK contempla APENAS acesso a console. Nenhum cabo poderá ser alterado e nenhuma
 intervenção física poderá ser realizada nos equipamentos. </td>
	        </tr>
      
      <tr>
        <td></td>
        <td></td>
        <td>12.</td> 
		<td class="descricao" id="descricao">Verificar se o técnico precisará de teclado e mouse. SIM ( ) NÃO (    ) </td>
      </tr>
      
      <tr>
        <td></td>
        <td></td>
        <td>13.</td> 
		<td class="descricao" id="descricao">Se SIM, retirar equipamento do armário. MOUSE (No.) TECLADO (No.    ) </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>14.</td> 
		<td class="descricao" id="descricao">Verificação de segurança, todos:  

		- Estão entrando no DC com: (        ) sem equipamento    (         ) notebook -  (         ) cabo de rede  (        ) Outros: 

		- Estão com Pro pé. Sim (               )    Não (             ) </td>
		</tr>
	  
      <tr>
        <td></td>
        <td></td>
        <td>15.</td> 
		<td class="descricao" id="descricao">Solicitar ao técnico que entre primeiro no ambiente com seu próprio crachá. 
			Caso não tenha acesso, solicitar para que providencie.  

		Operador deve entrar na sequência. </td>
		</tr>
	  
      <tr>
        <td></td>
        <td></td>
        <td>16.</td>
		<td class="descricao" id="descricao">Direciona o técnico na fila e rack específico. </td>
      </tr>
		      <tr>
        <td></td>
        <td></td>
        <td>17.</td> 
		<td class="descricao" id="descricao">Verificar condições do piso: limpo e organizado.  Sim ( )  Não (     ). 

		Em caso de NOK na verificação, após a saída do técnico, pegar equipamento de limpeza (aspirador) e deixar o ambiente de acordo com o padrão. 

		-O ambiente final foi deixado de acordo?  Sim (               )    Não (             )  

		Caso não, justificar, inserir comentário no Resumo do checklist, informar ponto focal e colocar a observação Vivo Now.  

		-Todos os padrões encontram-se no documento Sharepoint > Padrão_Telefonica.doc. Em caso de NOK informar o ponto focal, colocar no detalhamento desse chamado Vivo Now e no final do checklist. </td>      
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>18.</td>
		<td class="descricao" id="descricao">Confirmar se todos saíram com os materiais que entraram. </td>      
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>19.</td> 
		<td class="descricao" id="descricao">Se for o caso, solicitar o material para o técnico. Colocar Mouse e teclado no armário </td>      
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>20.</td>
		<td class="descricao" id="descricao">Devolver a(s) chave(s) na caixa de chaves. Chaves devolvidas (no.                                 )  </td>      
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>21.</td> 
		<td class="descricao" id="descricao">Abrir o Controle de chaves CONTROLE DE CLAVICULÁRIO e dar baixa no controle da chave. </td>      
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>22.</td> 
		<td class="descricao" id="descricao">Incluir na nota com o que foi realizado e alterar o status do chamado.
			 Copiar template padrão no documento 1.x.x.x Template_Chamados_VX.X.pdf	 

		(        ) Fechado   (     ) Em andamento  (      ) Cancelado 		 

		Data e hora do término da SCTASK: _____/_____/______ às _____:_____ </td>
		</tr>
	  
      
      <tr>
        <td></td>
        <td></td>
        <td>23.</td> 
		<td class="descricao" id="descricao">Escanear o checklist, salvar com o nome SCTASKXXXXXXX_2025MMDD.pdf 
	(onde XXXXX é o número da SCTASK e MM mês DD dia da execução), anexar arquivo do chamado no Vivo Now e 
	deixar via física nas pastas no setor FINALIZADAS: sendo COM SUCESSO (verde) ou em caso 
	de alguma divergência na atividade, deixar a via física na pasta COM PENDÊNCIA (amarelo)
	 e se for detectado problema grave, que requer atenção ou ação, deixar a via física na pasta COM PROBLEMA (vermelho). </td>
		      </tr>
    </h2>
  </article>
</table>
<br>


   

    </body>
</html>

