table{
    width: 1000;
}

.Solicitado{
    width: 50%;
    height: 100;
}

.Etapa-realizada{
    width: 10%;
}


.data-inicio{
    min-height: 20%;
    color: brown;
}

h1{
    color: green;
    text-align: center;
    text-decoration: underline;
}
    
    #article .numeracao{
        color:green;
        text-align: center;
    }

    .descricao{
        color: red;
        width: 70%;
    }

    .comentario{
        color: blue;
    }


    continuar  aula 2 J