table{
    width: 1000;
}

#analista{
    background-image: url("./Stefanini___Logo.jpg");
    background-color: blueviolet;
    color: blueviolet;
}



.Solicitado{
    width: 50%;
    height: 100;
    background-color: aqua;
    text-align: justify;
}

.Etapa-realizada{
    width: 10%;
}


.data-inicio{
    min-height: 20%;
    color: rgba(136, 212, 174, 0.623);
}

h1{
    color: green;
    text-align: center;
    text-decoration: underline;
}
    
    #article .numeracao{
        color:green;
        text-align: center;
    }

    .descricao{
        color: red;
        width: 70%;
    }

    .comentario{
        color: blue;
    }


    continuar  aula 2 J